@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.logo{
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	color: #FFFFF0;
	text-shadow: 4px 4px black;
	margin-left: 2rem;
	margin-bottom: 2rem;
	line-height: 4rem;
}
body	{
	font-family: 'PT Serif', serif;
	font-size: 16px;
	line-height: 1.5em;
	background-color: #DCDCDC;
}
nav a {
	font-family: 'Poppins', serif;
	font-style: normal;
	color: inherit;
	text-decoration: none;
}
header {
	background: url(../images/laura-chouette-6tdfx_gvHf0-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.clearfix:after, .recent article:after {
	height: 0;
	content: " ";
	display: block;
	clear: both;
}
.wrapper1 {
	max-width: 90em;
	margin: auto;
}
.featured {
	width: 50%;
	float: left;
	padding: 2em;
}
.featured img {
	display: inline-block;
	width: 100%;
	padding-top: 1em;
}
.recent {
	width: 50%;
	padding: 2em;
	float: left;
	border-left: 1px solid gray;
}
.recentA {
	float: left;
	width: 70%;
	padding-top: 1em;
	padding-bottom: 2em;
}
.recent img {
	float: left;
	width: 30%;
	padding: 1em 1em 1em 0;
	max-width: 300px;
}
.recent p {
	padding-bottom: .5em;
}
.featured p {
	padding-bottom: .5em;
}
.recipes {
	max-width: 90em;
	margin: auto;
	padding: 2em;
}
.recipes img {
	width: 100%;
	display: inline-block;
	padding: 1em 1em 0 1em;
}
.recipes h3 {
	margin-bottom: .5em;
	margin-top: 1em;
	font-weight: normal;
}
.recipe {
	width: 25%;
	float: left;
	text-align: center;
	margin-bottom: 1em;
}
.recipe h3 {
	font-size: 1.2em;
	font-weight: normal;
	font-style: italic;
}	
h1{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #FFFFF0;
	text-shadow: 2px 2px black;
	font-size: 2em;
	line-height: 1.3em;
	margin-left: 5rem;
	width: 23em;
}
.headline2{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 2em;
	display: block;
	margin-left: 10rem;
	margin-bottom: 10rem;
}
h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 1.7em;
	line-height: 1.7em;
}
h3 { 
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
	line-height: 1.3em;
	font-weight: normal;
	margin-bottom: .25em;
}
h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;
	line-height: 1em;
	font-style: italic;
	margin-bottom: .25em;
}
.navlinks{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #FFFFF0;
	font-size: 1.9em;
	display: inline-block;
	float: left;
	padding: 1em;
	text-align: center;
	width: 25%;
}
a	{
	color: inherit;
	text-decoration: none;
	font-style: italic;
}
article + a, section + a, .aboutMe p + a {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	clear: both;
	width: 35em;
	padding: 1em;
	margin: auto;
	display: block;
	background: url(../images/typewriterkey.jpg);
	text-align: center;
	border: 1px solid black;
}
p + a {
	clear: both;
	display: inline-block;
	padding: .5em;
	color: black;
	background-color: #F0F8FF;
}
p.date {
	font-style: italic;
	line-height: 1em;
}
.aboutMe {
	margin: auto;
	max-width: 46em;
	padding: 2em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.aboutMe img {
	width: 52%;
	display: inline-block;
	float: left;
	padding-right: 1em;
	padding-bottom: 2em;
}
.moreOpinions {
	clear: both;
	max-width: 90em;
	padding: 2em;
	margin: auto;
}
.moreOpinions img {
	display: inline-block;
	width: 100%;
}
.moreOpinions h2 {
	display: block;
	margin-left: .6em;
}
.opinion {
	float: left;
	width: 33%;
	padding: 1em;
	text-align: center;
}
.wrapper3 {
	max-width: 90em;
	margin: auto;
	padding: 3em;
}
.socialMedia {
	float: left;
	width: 33%;
}
.socialMedia img {
	width: 20%;
	margin: 1em 1em 1em 0;
}
.emailMe {
	float: left;
	width: 30%;
	margin-left: 1em;
	margin-right: 1em;
}
.emailMe img {
	width: 35%;
	margin: 1em 1em 1em 0;
}
.subscribe {
	float: left;
	width: 30%;
	margin-left: 1em;
}
.copyright {
	clear: both;
	text-align: center;
	line-height: 110%;
}
@media only screen and (max-width: 1210px){
	article + a, section + a, .aboutMe p + a {
		width: 20em;
		padding: 1em;
		background-color: inherit;
		background: none;
}
}
@media only screen and (max-width: 1072px){
	.navlinks {
		display: block;
		width: 100%;
		float: none;
		padding: .5em;
		text-align: center;
		margin: auto;
		text-shadow: 2px 2px black;
		font-size: 1.5rem;
	}
	h1 {
		display: block;
		margin: auto;
	}
	.logo, .headLine2 {
		display: block;
		text-align: center;
	}
	h1, .headline2 {
		font-size: 1.5rem;
	}
	h2 {
		font-size: 1.5em;
		line-height: 1.5em;
	}
	h3 {
		font-size: 1.2em;
	}
	h4 {
		font-size: 1em;
		line-height: 1.2em
	}
	.recentA {
		float: none;
		padding-top: 1em;
		padding-bottom: 1em;
		width: 95%;
}
	.recent img {
		float: none;
		display: block;
		width: 100%;
		padding: 1em 0 .5em 0;
}
	.recent h2 {
		display: block;
	}
	.recipes {
		max-width: 45em;
}
	.recipes img {
		width: 100%;
		display: inline-block;
}
	.recipe {
		width: 50%;
}		
}
@media only screen and (max-width: 800px){
	.socialMedia {
		float: none;
		width: 50%;
		margin: 1em 0 1em 1em;
}
	.socialMedia img {
		display: inline-block;
		width: 25%;
	}
	.emailMe {
		float: none;
		width: 50%;
		margin: 1em 0 1em 1em;
	}
	.emailMe img {
		width: 35%;
	}
	.subscribe {
		float: none;
		width: 50%;
		margin:margin: 1em 0 1em 1em;;
}
}
@media only screen and (max-width: 752px){
	.featured {
		width: 80%;
		float: none;
		padding: 1em;
	}
	.recent {
		width: 100%;
		padding: 1em;
		float: none;
		margin: auto;	
	}
	.recentA{
		width: 70%;
	}
	.opinion {
		float: none;
		width: 100%;
		padding: 1em;
		text-align: center;
}
}
@media only screen and (max-width: 670px){
	.featured {
		width: 100%;
	}
	.recentA {
		width: 90%;
	}
	.aboutMe p {
		margin-bottom: 2em;
	}
	.aboutMe img {
		width: 52%;
		display: block;
		float: none;
		margin: auto;
}
}
@media only screen and (max-width: 550px) {
	.recipes {
		max-width: 90em;
	}		
	.recipes img {
		width: 100%;
		display: block;
	}
	.recipe {
		width: 100%;
	}
	.aboutMe img {
		width: 100%;
}	
	header {
		background: black;
}
	.logo {
		text-align: center;
		margin: 0 0 1rem 0;
		border: 1px solid white;
	}
	h1 {
		text-align: left;
		width: 15em;
		}
	.headLine2 {
		width: 15em;
		text-align: left;
		margin-bottom: .5em
	}
	.navlinks {
		display: block;
		float: left;
		padding: .5em;
		text-align: center;
		margin: auto;
		width: 50%;
		font-size: 1.5rem;	
		border: 1px solid white;
	}
	article + a, section + a, .aboutMe p + a {
		width: 10em;
		padding: .5em;
		background-color: inherit;
		background: none;	
	}
	.socialMedia	{
		width: 80%;
	}
}
@media only screen and (max-width: 390px)	{
	.navlinks {
		font-size: 1.2rem;
	}
	h1 {
		font-size: 1.2rem;
		}
	.headLine2 {
		font-size: 1.2rem;
	}
	h2 {
		font-size: 1.2rem;
	}	
	h3 {
		font-size: 1em;
	}
	h4 {
		font-size: .9em;
	}
	body {
		font-size: 14px;
	}
	.copyright {
		font-size: 14px;
	}
	}
}
