@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.logo{
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	color: #FFFFF0;
	text-shadow: 2px 2px black;
	margin-left: 2rem;
	margin-bottom: 3rem;
}
body	{
	font-family: 'PT Serif', serif;
	font-size: 16px;
	line-height: 1.5em;
	background-color: #DCDCDC;
}
nav a {
	font-family: 'Poppins', serif;
	font-style: normal;
	color: inherit;
	text-decoration: none;
}
header {
	background: url(../images/laura-chouette-6tdfx_gvHf0-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.clearfix:after {
	height: 0;
	content: " ";
	display: block;
	clear: both;
}
.featured {
	width: 50%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 10px;
	max-width: 36em;
}
.featured img {
	display: inline-block;
	width: 100%;
	padding-top: 20px;
}
.recent {
	width: 50%;
	padding-top: 20px;
	margin: 10px;
	float: left;
}
.recent article {
	padding-top: 20px;	
}
.recent1 {
	float: right;
	width: 60%;
}
.recent2 {
	float: right;
	width: 60%;
}
.recent3 {
	float: right;
	width: 60%;
}
.recent img {
	display: inline-block;
	width: 35%;
	margin-bottom: 20px;
	margin-right: 20px;
}
.recipes {
	width: 41%;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
	padding-bottom: 20px;
}
.recipes img {
	width: 200px;
	display: inline-block;
	border: 5px solid black;
	margin: 5px;
}
.recipe1{
	width: 25%;
	float: left;
}
.recipe2{
	width: 25%;
	float: left;
}
.recipe3{
	width: 25%;
	float: left;
}
.recipe4{
	width: 25%;
	float: left;
}
h1{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #FFFFF0;
	text-shadow: 2px 2px black;
	font-size: 30px;
	line-height: 40px;
	margin-left: 5rem;
}
.headline2{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 30px;
	display: block;
	margin-left: 10rem;
}
h2, h3, h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
}
.navlinks{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #FFFFF0;
	text-shadow: 2px 2px black;
	font-size: 30px;
	display: inline-block;
	float: left;
	padding: 1em;
	text-align: center;
	width: 25%;
}
a	{
	color: inherit;
	text-decoration: none;
	font-style: italic;
}
article + a {
	clear: both;
	padding: 10px;
	top-margin: 30px;
	border: 2px solid black;
	border-radius: 30px;
	display: block;
	text-align: center;
}
p + a {
	clear: both;
	padding: 10px;
	font-weight: bold;
}
.aboutMe p + a{
	clear: both;
	padding: 10px;
	top-margin: 30px;
	border: 2px solid black;
	border-radius: 30px;
	display: block;
	text-align: center;
}
p.date {
	font-style: italic;
	line-height: 30px;
}
.aboutMe {
	width: 50%;
	float: left;
	margin-top: 20px;
	max-width: 36em;
}
.aboutMe img {
	width: 300px;
	display: inline-block;
	float: left;
	margin-right: 20px;
	padding-bottom: 10px;
}
.moreOpinions {
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 30px;
}
.moreOpinions img {
	display: inline-block;
	width: 300px;
	padding-top: 20px;
}
.opinion1 {
	float: left;
	width: 33%;
}
.opinion2 {
	float: left;
	width: 33%;
}
.opinion3 {
	float: left;
	width: 33%;
}
.socialMedia {
	float: left;
	width: 30%;
	margin-left: 30px;
	margin-top: 30px;
}
.socialMedia img {
	width: 100px;
	height: 100px;
	margin: 20px;
}
.emailMe {
	float: left;
	width: 30%;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
}
.emailMe img {
	height: 100px;
	width: 100px;
	margin: 20px;
}
.subscribe {
	float: left;
	width: 30%;
	margin-left: 20px;
	margin-top: 30px;
}
.copyright {
	clear: both;
	text-align: center;
	line-height: 110%;
}

