body	{
	font-family: 'PT Sans Narrow', sans-serif;
}

img {
	height: 400px;
	width: 30%;
	object-fit: cover;
}

a	{color: inherit;
	text-decoration: none;
	font-style: italic;
}

nav a {
	color: inherit;
	text-decoration: none;
}
h1, h2, h3, h6 {
	font-weight: bold;
}

h4	{
	font-weight: normal;
}

.date {
	font-style: italic;
}